html{

  background-image:url("../images/cookie2.jpg");
  background-repeat:no-repeat;
}
body{
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  position: relative;
  
  
  width: 100%;
  margin: 50px;
  overflow-x: hidden;
}

/* Form */

.container {
    position: relative;
    width: 600px;
    height:500px;
    margin: 0 auto;
    color: #575e72;
    background-image:url("../images/glouton.jpeg");
    padding: 30px;
    text-align: left;
}
.btn {
	background:#E6BE78;
	color:black;
	margin: 20px;
}
h1 {
	margin: 12px;
	padding: 20px;
}
#affichage {
	padding-top: 20px;
	font-weight: bold;
	font-size: 20px;
}
p {
    margin: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    color: black;
    line-height: 30px;
}
body {
width: 600px;
    height:500px;
	font-family: 'Open Sans', sans-serif;
}
